form {
  background-color: white;
  border-radius: 16px;
  padding: 48px;
}

html, body {
  background: rgb(56, 41, 149);
  font-family: 'Courier New', Courier, monospace;
}

.login {
  display: flex;
}
